
.nav-tabs {
  float:left;
  width:56px;
  list-style:none;
  margin:0 2px;
  padding-top:6px
}

.nav-tabs li {
  clear:both;
  height:60px;
  margin:0 auto;
  border-top:1px dashed #E8EFF5;
  line-height:60px
}

.nav-tabs li a {
  display:block;
  background-image:url(../img/tab_icons.png);
  background-repeat: no-repeat;
  height:60px
}

#object-info-tab a {
  background-position:left -120px;
}

#arm-disarm-report-tab a {
  background-position:left top
}

#responsible-tab a {
  background-position:left -60px
}

#call-center-tab a {
  background-position:left -175px
}

#object-info-tab.active a {
  background-position:-76px -119px !important
}

#arm-disarm-report-tab.active a {
  background-position:-76px 1px !important
}

#responsible-tab.active .item3 {
  background-position: -76px -59px !important
}

#call-center-tab.active a {
  background-position: -76px -175px !important
}

.active {
  background:url(../img/active_tab_fill.png) no-repeat;
  width:67px !important;
  height:65px !important;
  margin:-2px -5px -4px -9px !important;
  position:relative;
  z-index:1;
  border-top-color:transparent !important
}
