
/* CSS Document */
body {
  margin:0;
  padding:0;
  font:11pt/18px Helvetica, Helvetica Neue, Arial, sans-serif;
  background:#fff
}

h1, h2, table, p {
  padding:0;
  margin:0
}

table {
  border-collapse:collapse;
  color:#444
}

td {
  vertical-align:top;
  padding-right:25px;
  padding-bottom:5px
}

.top-line, .footer, .nav-tabs, .date-selection, .print-version, .inner-text {
  display:none
}

.fill, .tab-top-fill, .tab-bottom-fill, .bottom-fill {
  background:#fff
}

.wrapper {
  width:700px;
  margin:0 auto;
  padding-top:73px
}

h1 {
  font:bold 29pt Calibri;
  color:#000;
  margin-bottom:11px
}

h2 {
  font:11pt/16px Helvetica, Arial, sans-serif;
  margin-bottom:1px
}

input[type="button"], .light-blue-button {
  border:none;
  background: linear-gradient(to bottom, #DDEFFF 0%, #a7d4ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddefff), color-stop(100%, #a7d4ff));
  border-radius:5px;
  height:27px;
  box-shadow:0px 1px 0px #B1B1B1;
  overflow:visible;
  padding:0px 6px 1px 6px;
  cursor:pointer;
  color:#000;
  font:14px/28px Helvetica, Helvetica Neue, Arial, sans-serif;
  vertical-align:top;
  margin-left:1px
}

.cell1 {
  width:138px
}

.cell2 {
  width:35px
}

.cell3 {
  width:180px;
  padding-right:0
}

.disarming {
  color:#666;
  font-style:italic
}

.divider-line td, .divider td, .divider-line span {
  font-size:0;
  line-height:0;
}

.divider td {
  height:15px;
  padding:0 !important
}

.divider-line td {
  height:8px;
  padding-right:0px !important;
  padding-left:0 !important;
  padding-top:2px
}

.divider-line span {
  height:1px;
  background:#E4E4E4;
  margin-top:4px;
  display:block;
  width:100%
}

.report-data {
  margin-bottom:14px
}
