
img {
  border:none
}

body {
  margin:0;
  padding:0;
  color:#000;
  font:14px/18px Helvetica, "Helvetica Neue", Arial, sans-serif;
  min-width:975px;
}

.wrapper h1, .wrapper p, .tabs, form, input, .user-form p, dl.user-summary, .features-wrapper ul, .footer li, .report-table, .nav-tabs, .date-selection, .arm-disarming-report, .call-center-labels, .datepicker-calendar table.form {
  padding:0;
  margin:0
}

.date-selection, .call-center-labels, .features-wrapper ul {
  list-style:none
}

.report-table, .arm-disarming-report, .datepicker-calendar table {
  border-collapse:collapse
}

p, .wrapper p {
  margin-bottom:18px;
  word-wrap: break-word;
  word-break:break-strict
}

.top-line {
  background:#464646 url(../img/line_fill.png) repeat;
  min-height:10px;
  margin:0;
  position:relative;
  z-index:1;
  box-shadow:0px 2px 2px #AFBBC5;
  color:#fff
}

.top-line .wrapper {
  padding-bottom:0;
  line-height:32px
}

.fill, .bottom-fill {
  float:left;
  width:100%
}

.bottom-fill {
  background:url(../img/back_bottom.png) repeat-x left bottom;
  padding-bottom:10px;
  margin-bottom:31px
}

.fill {
  background:url(../img/background.png) repeat;
  padding-bottom:23px;
  padding-top:28px
}

.wrapper h1 {
  font:bold 36px/36px Calibri, Helvetica, Arial, sans-serif;
  margin-bottom:27px;
  color:#000;
  padding-top:35px
}

.wrapper {
  margin:0 auto;
  width:870px;
  clear:both;
  padding-left:80px
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.tabs {
  color:#444;
  list-style:none;
  padding-left:15px;
  height:1%;
  padding-top:10px
}

.tabs li {
  float:left;
  margin-left:-22px;
  background:url(../img/tab_left_corner.png) no-repeat;
  padding-left:25px;
  height:34px;
  color:#fff;
  overflow:hidden;
  position:relative;
  z-index:0
}

.tabs li p {
  background:url(../img/tab_right_corner.png) no-repeat right top;
  display:block;
  padding:0 37px 0 12px;
  line-height:34px;
  margin:0
}

.tabs .current-tab {
  background-image:url(../img/current_tab_left_corner.png) !important;
  color:#444 !important;
  z-index:1 !important
}

.current-tab p {
  background-image:url(../img/current_tab_right_corner.png) !important
}

input[type="text"] {
  background:#fff;
  border:none;
  font:14px/18px Helvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:9px 10px 9px 10px;
  margin-right:15px;
  position:relative;
  border-radius:4px;
  box-shadow:inset 2px 3px 4px #C4C4C4, inset -1px -1px 2px #C4C4C4;
  height:19px
}

input[type="text"]:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}

placeholder {
  color:#666
}

.user-form p {
  margin:0 0 15px 0;
  position:relative
}

.message-wrapper {
  position:absolute;
  left:260px;
  background:url(../img/error_corner.png) no-repeat left center;
  display:inline-block;
  padding-left:10px;
  top:0px;
  white-space:nowrap;
  color:#fff
}

.message-wrapper span {
  display:block;
  padding:0px 15px;
  height:37px;
  line-height:36px;
  border-radius:4px;
  box-shadow:1px 2px 2px #C4C4C4
}

.error {
  background-image:url(../img/error_corner.png)
}

.error span {
  background:#CC3131
}

.message {
  background-image:url(../img/message_corner.png);
  color:#000
}

.message span {
  background:#FFE27D
}

.button-wrapper {
  position:absolute !important;
  bottom:10px;
  left:20px
}

.button {
  background:url(../img/button_left.png ) no-repeat;
  margin-right:10px;
  margin-left:-5px;
  padding-left:11px;
  position:relative;
  vertical-align:middle
}

.button span, .button {
  height:44px;
  display:inline-block
}

.button span {
  background:url(../img/button_right.png ) no-repeat right top;
}

.user-form input[type="button"] {
  margin-left:-11px;
  background:none;
  border:none;
  color:#e0eaee;
  cursor:pointer;
  font:14px/37px Helvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:0px 18px 3px 18px;
  text-align:center;
  outline:none;
  height:37px
}

.button:hover {
  background-position:left -47px
}

.button:hover span {
  background-position:right -47px
}

.button:active {
  background-position:left -94px
}

.button:active span {
  background-position:right -94px
}

.mail-input {
  width:232px
}

.password-input {
  width:152px
}

.code-input {
  width:102px
}

.dashed-link {
  border-bottom-width:1px;
  border-bottom-style:dashed;
  text-decoration:none;
  display:inline-block;
  line-height:14px
}

.right-cell {
  float:left;
  width:430px;
  color:#666;
}

a {
  color:#477eba
}

.right-cell h2 {
  color:#000;
  font-size:24px;
  margin-top:1px;
  margin-bottom:14px;
  font-family:Calibri, Helvetica, Arial, sans-serif;
  line-height:24px
}

.footer {
  clear:both;
  background:url(../img/footer_fill.png) repeat-x;
  padding-bottom:40px;
  margin-top:58px;
  float:left;
  font-size:13px;
  color:#666 !important;
  width:100%
}

.footer-info-wrapper {
  margin:0 auto;
  width:960px;
  text-align:center;
  padding-top:15px
}

.footer ul {
  list-style:none;
  width:960px;
  margin-left:-42px
}

.footer li {
  float:left;
  width:220px !important;
  text-align:left;
  padding:0 10px 0 90px
}

.footer-phone {
  background:url(../img/icon_phone.png) no-repeat;
  padding-left:19px;
  margin-left:-19px;
  display:block
}

.footer-info-middle-cell {
  float:none !important;
  margin:0 300px 0 411px !important;
  width:auto !important;
  padding:0 !important
}

a:hover {
  color:#519cef
}

a.dashed-link:active {
  color:#000
}

.wrapper {
  padding-bottom:32px
}

.error-content {
  padding-bottom:68px
}

.hide {
  display:none
}

.brand {
  margin:0 !important;
  float:left
}

.pull-right {
  float:right !important
}

.top-line .navbar {
  margin:0;
  padding:0;
  list-style:none;
}

.top-line .navbar li {
  float:left;
  border-left:1px solid #696C6D;
  margin:1px 0;
  padding:0 10px 0 9px
}

.top-line a {
  color:#fff;
  text-decoration:underline
}

.top-line a:hover {
  color:#bababa
}

.top-line .navbar li:first-child {
  border-left:none
}

.alert {
  background:url(../img/error_fill.png) repeat-x;
  padding-top:23px;
  color:#666
}

.alert p {
  width:84%;
  margin-bottom:11px
}

.alert-error p strong:first-child {
  color:#cc3131
}

.light-blue-btn {
  border:none;
  background: linear-gradient(to bottom, #DDEFFF 0%, #a7d4ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddefff), color-stop(100%, #a7d4ff));
  border-radius:5px;
  height:27px;
  box-shadow:0px 1px 0px #B1B1B1;
  overflow:visible;
  padding:0px 9px 1px 9px;
  cursor:pointer;
  color:#000;
  font:14px/28px Helvetica, Helvetica Neue, Arial, sans-serif;
  vertical-align:top;
}

.light-blue-btn:active {
  background: linear-gradient(to bottom, #B2D2F1 0%, #D7EAFA 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B2D2F1), color-stop(100%, #D7EAFA));
  box-shadow:inset 1px 1px 0px #A5C5E4;
}

.loader, .load-more {
  background:url(../img/loader_fill.png) repeat-x;
  padding-top:21px;
  text-align:center;/*padding-bottom:20px;*/
}

.loader img {
  display:block;
  margin:0 auto
}

.tabs-switching-loader span {
  background:url(../img/ajax-loader-32.gif) no-repeat right top;
  padding-right:47px;
  min-height:35px;
  padding-bottom:3px
}

.features-wrapper {
  width:960px;
  clear:both;
  margin:0 auto;
  padding-top:9px
}

.features-wrapper ul {
  margin-left:-4px
}

.features-wrapper li {
  float:left;
  padding:0 10px;
  width:300px;
  text-align:left
}

.features-wrapper li p {
  background-repeat: no-repeat;
  display:inline-block;
  padding:2px 5px 0 82px;
  color:#444;
  text-decoration:none;
  margin:0;
  min-height:55px;
}

#report-armed-disarming p {
  background-image:url(../img/icon1.png);
  background-position:2px top;
  /*padding-left:91px*/padding-right:20px
}

#editing-responsible p {
  background-image:url(../img/icon2.png);
  padding-right:20px
}

#object-card p {
  background-image:url(../img/icon3.png)
}
