
img {
  border:none
}

body {
  margin:0;
  padding:0;
  color:#000;
  font:14px/18px Helvetica, Helvetica Neue, Arial, sans-serif;
  min-width:975px
}

.wrapper h1, .wrapper p, .tabs, form, input, .user-form p, dl.user-summary, .navigation, .footer li, .report-table, .nav-tabs, .date-selection, .arm-disarming-report, .call-center-labels {
  padding:0;
  margin:0
}

.date-selection, .call-center-labels {
  list-style:none
}

.report-table, .arm-disarming-report {
  border-collapse:collapse
}

p, .wrapper p {
  margin-bottom:18px;word-wrap: break-word;
}

.top-line {
  background:#464646 url(../img/line_fill.png) repeat;
  /*height:10px;
  font-size:0;
  line-height:0;*/
  min-height:10px;
  margin:0;
  position:relative;
  z-index:1;
  box-shadow:0px 2px 2px #AFBBC5;
  color:#fff
}

.top-line .wrapper {
  padding-bottom:0;
  line-height:32px
}

.fill, .bottom-fill {
  float:left;
  width:100%
}

.bottom-fill {
  background:url(../img/back_bottom.png) repeat-x left bottom;
  padding-bottom:10px;
  margin-bottom:31px
}

.fill {
  background:url(../img/background.png) repeat;
  padding-bottom:23px;
  padding-top:28px
}

.wrapper h1 {
  font:bold 36px/36px Calibri, "Trebuchet MS", Helvetica, Arial, sans-serif;
  margin-bottom:27px;
  color:#000;
  padding-top:35px
}

.wrapper, .navigation-wrapper {
  margin:0 auto;
  width:870px;
  clear:both;
  padding-left:80px
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.tabs {
  color:#444;
  font:14px Helvetica, Helvetica Neue, Arial, sans-serif;
  list-style:none;
  padding-left:15px;
  height:1%;
  padding-top:10px
}

.tabs li {
  float:left;
  margin-left:-22px;
  background:url(../img/tab_left_corner.png) no-repeat;
  padding-left:25px;
  height:34px;
  color:#fff;
  overflow:hidden;
  position:relative;
  z-index:0
}

.tabs li p {
  background:url(../img/tab_right_corner.png) no-repeat right top;
  display:block;
  padding:0 37px 0 12px;
  line-height:34px;
  margin:0
}

.tabs .current-tab {
  background-image:url(../img/current_tab_left_corner.png) !important;
  color:#444 !important;
  z-index:1 !important
}

.current-tab p {
  background-image:url(../img/current_tab_right_corner.png) !important
}

.tab-content {
  background:#fff url(../img/bottom_fill.png) repeat-x left bottom;
  width:270px;
  padding:30px 20px 94px 19px;
  position:relative;
  float:left;
  margin:0 64px 20px -20px;
  clear:both;
  z-index:2;
  border-radius:5px;
  box-shadow:3px 3px 3px #B3BEC8;
}

input[type="text"] {
  background:#fff;
  border:1px solid #EDEDED;
  border-top-color:#C4C4C4;
  border-left-color:#D1D1D1;
  font:14px/18px Helvetica, Helvetica Neue, Arial, sans-serif;
  padding:9px 10px 9px 10px;
  margin-right:15px;
  position:relative;
  border-radius:4px;
  box-shadow:inset 0px 3px 7px #C4C4C4;
  height:18px
}

input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}

placeholder {
  color:#666
}

.user-form p {
  margin:0 0 15px 0;
  position:relative
}

.message-wrapper {
  position:absolute;
  left:270px;
  background:url(../img/error_corner.png) no-repeat left center;
  display:inline-block;
  padding-left:10px;
  top:1px;
  white-space:nowrap;
  color:#fff
}

.message-wrapper span {
  display:block;
  padding:0px 15px;
  height:37px;
  line-height:36px;
  border-radius:4px;
  box-shadow:1px 2px 2px #C4C4C4
}

.error {
  background-image:url(../img/error_corner.png)
}

.error span {
  background:#CC3131
}

.message {
  background-image:url(../img/message_corner.png);
  color:#000
}

.message span {
  background:#FFE27D
}

.button-wrapper {
  position:absolute !important;
  bottom:10px;
  left:20px
}

.button {
  background:url(../img/button_left.png ) no-repeat;
  margin-right:10px;
  margin-left:-5px;
  padding-left:11px;
  position:relative;
  vertical-align:middle
}

.button span, .button {
  height:44px;
  display:inline-block
}

.button span {
  background:url(../img/button_right.png ) no-repeat right top;
}

.user-form input[type="button"] {
  margin-left:-11px;
  background:none;
  border:none;
  color:#e0eaee;
  cursor:pointer;
  font:14px/37px Helvetica, Helvetica Neue, Arial, sans-serif;
  padding:0px 18px 3px 18px;
  text-align:center;
  outline:none;
  height:37px
}

.button:hover {
  background-position:left -47px
}

.button:hover span {
  background-position:right -47px
}

.button:active {
  background-position:left -94px
}

.button:active span {
  background-position:right -94px
}

.mail-input {
  width:250px
}

.password-input {
  width:170px
}

.code-input {
  width:120px
}

.dashed-link {
  border-bottom-width:1px;
  border-bottom-style:dashed;
  text-decoration:none;
  display:inline-block;
  line-height:14px
}

.right-cell {
  float:left;
  width:430px
}

a {
  color:#477eba
}

dl.user-summary {
  margin-top:-1px
}

.user-summary dt {
  float:left;
  background:url(../img/img_placeholder.png) no-repeat;
  margin-right:17px
}

.user-summary dt, .user-summary dt span {
  width:173px;
  height:174px;
}

.user-summary dt span {
  display:inline-block;
  background-position: center center;
  background-repeat:no-repeat
}

.user-summary dd {
  margin-left:190px
}

.right-cell h2, .tabs-page-tab-content h2 {
  color:#000;
  font-size:24px;
  margin-top:1px;
  margin-bottom:14px;
  font-family:Calibri
}

.tabs-page-tab-content h2 {
  font-weight:normal;
  margin-bottom:12px !important;
}

.navigation {
  list-style:none;
  margin-left:-90px;
  display:inline-block
}

.navigation li {
  float:left;
  padding:0 10px;
  width:300px
}

.navigation li p {
  background-repeat: no-repeat;
  display:inline-block;
  padding:2px 20px 0 80px;
  color:#444;
  text-decoration:none;
  margin:0;
  min-height:55px;
}

.navigation .item1 p {
  background-image:url(../img/icon1.png)
}

.navigation .item2 p {
  background-image:url(../img/icon2.png)
}

.navigation .item3 p {
  background-image:url(../img/icon3.png)
}

.footer ul {
  list-style:none;
  margin-left:-50px
}

.footer li {
  float:left;
  width:300px;
  padding:4px 10px 0 10px
}

.footer {
  clear:both;
  background:url(../img/footer_fill.png) repeat-x;
  float:left;
  padding-bottom:40px;
  margin-top:58px;
  width:100%;
  font-size:13px;
  color:#666 !important
}

.tab-pages .footer {
  margin-top:0;
  background:none;
  padding-top:0;
  margin-top:-2px
}

.tab-pages .bottom-fill {
  margin-bottom:0
}

.tab-pages .bottom-fill .wrapper {
  padding-bottom:4px
}

.tab-pages .tabs-wrapper {
  margin-left:-79px
}

.tab-pages .fill {
  padding-top:9px
}

.footer-phone {
  background:url(../img/icon_phone.png) no-repeat;
  padding-left:20px;
  margin-left:-20px
}

a:hover {
  color:#519cef
}

a.dashed-link:active {
  color:#000
}

.footer .item2 {
  float:none;
  margin:0 220px 0 320px
}

.footer .item3 {
  width:230px !important;
  float:right;
  padding-right:0 !important;
  padding-left:0px !important
}

.navigation-wrapper {
  padding-top:10px
}

.footer .navigation-wrapper {
  position:relative
}

.wrapper {
  padding-bottom:32px
}

.error-content {
  padding-bottom:68px
}

.hide {
  display:none
}

.app-store img {
  margin:0 8px
}

.brand {
  margin:0 !important;
  float:left
}

.pull-right {
  float:right
}

.top-line .navbar {
  margin:0;
  padding:0;
  list-style:none;
}

.top-line .navbar li {
  float:left;
  border-left:1px solid #696C6D;
  margin:1px 0;
  padding:0 10px 0 9px
}

.top-line a {
  color:#fff;
  text-decoration:underline
}

.top-line a:hover {
  color:#bababa
}

.top-line .navbar li:first-child {
  border-left:none
}

.tabs-wrapper, .tab-bottom-fill, .tab-top-fill {
  width:942px;
  float:left
}

.tabs-wrapper {
  background:url(../img/object_content_fill.png) repeat-y;
  width:942px;
  margin-bottom:17px
}

.tab-bottom-fill {
  background:url(../img/object_content_bottom_fill.png) no-repeat left bottom;
  padding-bottom:42px
}

.tab-top-fill {
  background:url(../img/object_content_top_fill.png) no-repeat;
  padding-top:15px
}

.nav-tabs {
  float:left;
  width:56px;
  list-style:none;
  margin:0 2px;
  padding-top:6px
}

.nav-tabs li {
  clear:both;
  height:60px;
  margin:0 auto;
  border-top:1px dashed #E8EFF5;
  line-height:60px
}

.nav-tabs li a {
  display:block;
  background:url(../img/tab_icons.png) no-repeat left -120px;
  height:60px
}

.nav-tabs li .item2 {
  background-position:left top
}

.nav-tabs li .item3 {
  background-position:left -60px
}

.nav-tabs li .item4 {
  background-position:left -175px
}
.active {
  background:url(../img/active_tab_fill.png) no-repeat;
  width:67px !important;
  height:65px !important;
  margin:-2px -5px -4px -9px !important;
  position:relative;
  z-index:1;
  border-top-color:transparent !important
}

.active a {
  background-position:-76px -119px !important
}

.active .item2 {
  background-position:-76px 1px !important
}

.active .item3 {
  background-position: -76px -59px !important
}
.active .item4 {
  background-position: -76px -175px !important
}
.tabs-page-tab-content {
  padding:17px 20px 0 78px
}

.report-table {
  border-top:2px solid #fff;
  margin-left:-2px;
  width:100%;
  margin-top:17px !important
}

.report-table td, .report-table th {
  border-top:1px solid #E4E4E4;
  vertical-align:top;
  text-align:left;
  margin-top:-1px;
  color:#000;
  padding:9px 40px 11px 4px
}

.map {
  padding:0 0 0 17px !important;
  width:360px
}

.map .ymaps-map {
  border-radius:5px
}

.report-table th {
  color:#666;
  font-weight:normal;
  width:151px;
  padding-right:4px
}

.report-table td p {
  margin-bottom:11px
}

.report-table:first-child, .nav-tabs li:first-child {
  border-top:none
}

.tabs-page-tab-content h2 {
  font-weight:normal
}

.inner-text {
  width:70%
}

.date-selection {
  padding-bottom:19px;
  height:28px
}

.date-selection li {
  float:left
}

.date-selection li a, .date-selection li div {
  line-height:30px;
  border:1px solid transparent;
  border-radius:5px;
  padding:0 9px;
  text-decoration:none;
  display:inline-block;
  height:28px;
}

.date-selection li a span {
  display:inline-block;
  line-height:14px
}

.selected-item div {
  border:1px solid #E5EFEF;
  background:#E5EFEF;
  box-shadow:inset 0px 2px 2px #D0D9D9;
  border-top-color:#C3CBCB;
  color:#010101
}

.report-table, .arm-disarming-report {
  color:#444
}

.disarming {
  color:#449a2d
}

.arm {
  color:#317ea6
}

.divider-line td, .divider td, .divider-line span {
  font-size:0;
  line-height:0;
  overflow:hidden
}

.divider-line td {
  height:11px
}

.divider-line span {
  height:1px;
  background:#E4E4E4;
  margin-top:4px;
  display:block
}

.arm-disarming-report {
  width:100%;
  margin-bottom:13px
}

.arm-disarming-report td {
  vertical-align:top;
  line-height:14px;
  padding-top:3px;
  padding-right:20px
}

.arm-disarming-report p {
  margin-bottom:4px
}

.arm-disarming-report tr:hover {
  background:#FFF9B8;
  cursor:pointer
}

.arm-disarming-report tr.divider-line:hover, .arm-disarming-report tr.divider:hover {
  cursor:auto;
  background:none
}

.divider td {
  height:15px;
  padding:0 !important
}

.print-version {
  background:url(../img/print_version_icon.png) no-repeat;
  padding-left:41px;
  display:inline-block;
  width:83px;
  padding-top:3px
}

.report-wrapper {
  width:705px;
  position:relative;
  margin-top:22px
}

.report-wrapper .print-version {
  position:absolute;
  left:722px;
  top:0
}

.cell1 {
  width:160px
}

.cell2 {
  width:40px
}

.cell3 {
  width:170px
}

.orange-highlight {
  background:#FFE27D
}

.pin-code {
  color:#666;
  margin-right:8px
}

.change {
  margin-left:20px
}

.label {
  background: url(../img/label_fill.png) repeat;
  border:1px solid #A6BAE8;
  display:inline-block;
  height:20px;
  width:20px;
  line-height:20px;
  text-align:center;
  border-radius:5px;
  font-weight:bold
}

.call-center-labels {
  margin-bottom:35px;
  margin-top:-2px
}

.call-center-labels .label {
  margin-right:10px
}

.call-center-labels li {
  margin-bottom:5px
}

.call-center-table {
  margin-top:-3px !important
}

.call-center-table .cell2 {
  width:50%
}

.call-center-table td {
  line-height:18px
}

.call-center-table .label {
  margin-left:2px
}

.call-center-table p {
  width:80%;
  padding-top:2px;
  margin:0 !important
}
