/dashboard/public/img/object_manager/_notes
*.mno
/dashboard/public/img/object_manager/_notes/*.mno
/dashboard/public/img/object_manager/_notes/*.mno
/dashboard/public/img/object_manager/_notes/*.mno
/dashboard/public/img/object_manager/_notes/*.mno
/dashboard/public/img/object_manager/_notes/*.mno
/dashboard/public/img/object_manager/_notes/*.mno
