
/* CSS Document */
.tab-pages-wrapper {
  background: url('../../img/object_manager/background.png') repeat;
  min-height: 100%;
  height: 100%;
  height: auto !important;
  margin: 0 auto -98px auto;
}

.footer {
  background: #fff url('../../img/object_manager/back_bottom.png') repeat-x;
}
